{% extends "includes/base.html" %}

{% block menu %}
	<li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li><a href="{% url 'blog:indexb'%}">>Blog</a></li>
	<li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block content %}

{% if user.is_authenticated %}
	<h2>Hi {{ username }}, you are now logged in!</h2>
	<p>Click <a href="/accounts/logout/">here</a> to logout.</p>
{% else %}
<p>To see this page you must be login! Click here to <a href="/accounts/login/">login</a> and if you haven't got an account, register <a href="/accounts/register/">here</a></p>
{% endif %}

{% endblock %}