{% extends "includes/base.html" %}

{% block menu %}
	<li><a href="{% url 'welcome' %}">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}<i class="fa fa-user-secret page_icon"></i>Logged Out!{% endblock page_title %}

{% block content %}

	<p>Click <a href="/accounts/login/">here</a> to login again.</p>

{% endblock %}