{% extends "includes/base.html" %}

{% block menu %}
	<li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}{{ full_name }}<b style='font-weight: normal!important; font-size: 14px!important;'> ({{username}})</b>{% endblock page_title %}

{% block content %}

<div style="text-align:left">
{% if user.is_authenticated %}

{% if profile_picture %}
<p class="profile_picture"><img src="/static/{{ profile_picture }}" /></p>
{% endif %}
<p>Hobbies: {{ hobbies }}</p>
</div>
<!-- <a href="{% url 'userprofile:edit_profile' %}">upravit profil</a> -->
{% else %}
<p>To see your profile you must be login! Click here to <a href="/accounts/login/">login</a> and if you haven't got an account, register <a href="/accounts/register/">here</a></p>

{% endif %}

{% endblock %}