{% extends "includes/base.html" %}

{% block content %}
<div class="col-md-6">
{% if user.is_authenticated %}
<h3>{{ full_name }} <b style='font-weight: normal; font-size: 14px;'>({{username}})</b></h3>
{% if profile_picture %}
<p class="profile_picture"><img src="/static/{{ profile_picture }}" /></p>
{% endif %}
<p>Hobbies: {{ hobbies }}</p>
<!-- <a href="{% url 'userprofile:edit_profile' %}">upravit profil</a> -->
{% else %}
<p>To see your profile you must be login! Click here to <a href="/accounts/login/">login</a> and if you haven't got an account, register <a href="/accounts/register/">here</a></p>
{% endif %}
</div>
{% endblock %}