{% extends "includes/base.html" %}

{% block menu %}
    <li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
    <li class="active"><a href="{% url 'polls:indexq'%}">Polls</a></li>
    <li><a href="{% url 'blog:indexb'%}">Blog</a></li>
    <li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
    <li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}{{ question.question_text }}{% endblock page_title %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form style="width: 480px" action="{% url 'polls:voteq' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
<div class="choices">
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
</div>    
{% endfor %}
<input style="margin-top: 10px;" type="submit" value="Vote" /> | <a class="viewresults" href="{% url 'polls:resultsq' question.id %}"> display results</a> | <a class="viewresults" href="{% url 'polls:indexq'%}">Back</a>
</form>

{% endblock content %}