{% extends "includes/base.html" %}

{% block menu %}
    <li><a href="{% url 'welcome' %}">Welcome</a></li>
    <li class="active"><a href="{% url 'welcome' %}#polls">Polls</a></li>
    <li><a href="{% url 'blog:indexb'%}">Blog</a></li>
    <li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
    <li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}Polls{% endblock page_title %}

{% block content %}

{% if latest_question_list %}
    {% for question in latest_question_list %}
        <a class="title_list_object" href="{% url 'polls:detailq' question.id %}">
		<div class="title_object">
			<h3>{{ question.question_text }}</h3>
		</div>
		</a>
		<hr class="hr_low">
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}