{% extends "includes/base.html" %}

{% block menu %}
    <li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
    <li class="active"><a href="{% url 'polls:indexq'%}">Polls</a></li>
    <li><a href="{% url 'blog:indexb'%}">Blog</a></li>
    <li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
    <li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}{{ question.question_text }}{% endblock page_title %}

{% block content %}

{% endblock %}