{% extends "includes/base.html" %}

{% block menu %}
    <li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
    <li class="active"><a href="{% url 'polls:indexq'%}">Polls</a></li>
    <li><a href="{% url 'blog:indexb'%}">Blog</a></li>
    <li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
    <li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}{{ question.question_text }}{% endblock page_title %}

{% block content %}

<ul>
{% for choice in question.choice_set.all %}
    <li class="result_item">{{ choice.choice_text }} <i style="color: white; font-size: 16px;" class="fa fa-long-arrow-right"></i>
 {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a class="viewresults" style="font-size: 14px; color: #025909;" href="{% url 'polls:detailq' question.id %}">Vote again?</a> | <a class="viewresults" href="{% url 'polls:indexq'%}">Back</a>

{% endblock %}