{% extends "includes/base.html" %}
{% load staticfiles %}

{% block welcome_content %}
    <!-- Intro Header -->
    <header class="intro">
        <div id="introbody" class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading wow bounceIn" data-wow-duration="2s">Django site</h1>
                        <p class="intro-text">Welcome to Django site. <br>View on <a target="_blank" href="https://github.com/dresl/python_web_grayscale_bootstrap_theme">GitHub.</a></p>
                        <a href="#polls" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Polls Section -->
    <section id="polls" class="container content-section text-center" data-wow-duration="1s" data-wow-delay="1s">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="wow flipInX" data-wow-duration="1s"><i class="fa fa-bullhorn page_icon"></i>Polls app</h2>
                <a href="{% url 'polls:indexq' %}" class="btn btn-default btn-lg"><span class="network-name">View all polls</span></a>
            </div>
        </div>
    </section>

    <!-- Blog Section -->
    <section id="blog" class="content-section text-center" data-wow-duration="1s" data-wow-delay="2s">
        <div class="blog-section">
            <h2 class="wow flipInX" data-wow-duration="1s"><i class="fa fa-book page_icon"></i>Blog</h2>
            <hr>
            <div class="container">
                <div class="row">
                {% for blog in blogs %}                    
                    <div class="col-md-4 portfolio-item">
                        <a href="{% url 'blog:detailb' blog.id %}">
                            <img class="img-responsive" src="{% cycle '/static/img/blog2.jpg' '/static/img/blog3.jpg' '/static/img/blog4.jpg' %}" alt="">
                        </a>
                        &nbsp;
                        <h3>
                            <a href="{% url 'blog:detailb' blog.id %}">{{ blog.title }} <b class="likes">(likes: {{blog.likes}})</b></a>
                        </h3>
                        <p>{{ blog.body|truncatewords:"15" }}</p>
                    </div>
                {% endfor %}

            </div>
            <a href="{% url 'blog:indexb' %}" class="btn btn-default btn-lg"><span class="network-name">View all blogs</span></a>
        </div>
    </section>

    <!-- Brigade Section -->
    <section id="brigades" class="content-section text-center" data-wow-duration="1s" data-wow-delay="2s">
        <div class="brigade-section">
            <h2 class="wow flipInX" data-wow-duration="1s"><i class="fa fa-cubes page_icon"></i>Brigades</h2>
            <hr>
            <div class="container">

                {% for brigade in brigades %}
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3>{{ brigade.brigade_title }} <i class="fa fa-hand-o-right"></i> <a class="btn btn-default" href="{% url 'math:detailb' brigade.id %}">View brigade</a></h3>
                        <hr class="hr_low">
                    </div>  
                {% endfor %}

                </div>
                <a href="{% url 'math:brigade_index' %}" class="btn btn-default btn-lg"><span class="network-name">View all brigades</span></a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center" data-wow-duration="3s" data-wow-delay="0s" data-wow-offset="0"  data-wow-iteration="1" style="padding: 120px 0px 150px">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><i class="fa fa-reply page_icon"></i>Contact me</h2>
                <ul class="list-inline banner-social-buttons wow bounce">
                    <li>
                        <a target="_blank" href="https://github.com/dresl" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://plus.google.com/u/0/117285854149387365510/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/dominik.resl.9" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <form action="/contact/" method="post">{% csrf_token %}
                    <label class="wow fadeInLeft" for="subject">Subject</label><input class="form-control wow fadeInLeft" id="subject" data-toggle="tooltip" data-placement="right" title="enter subject" type="text" name="subject" value="">{% if subject_error %}<b style="color: red; font-weight: normal">{{ subject_error }}</b>{% endif %}
                    <label class="wow fadeInRight" for="email">Your e-mail (optional)</label><input class="form-control wow fadeInRight" id="email" data-toggle="tooltip" data-placement="right" title="enter valid e-mail address" type="email" name="email" value="">{% if email_error %}<b style="color: red; font-weight: normal">{{ email_error }}</b>{% endif %}
                    <label class="wow fadeInLeft">Message</label><textarea class="form-control wow fadeInLeft" name="message" rows="1" cols="30"></textarea>{% if message_error %}<b style="color: red; font-weight: normal">{{ message_error }}</b>{% endif %}
                    <hr>
                <input type="submit" class="btn btn-default wow fadeInRight" value="Send email">
                </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

{% endblock welcome_content %}

{% block other_content %}
{% block content %}
{% endblock content %}
{% endblock other_content %}
