{% extends "includes/base.html" %}

{% block page_title %}
{% if request.user.is_authenticated %}
	{% if foreign_user.username == request.user.username %}
	{{ request.user.get_full_name }}
	<b style='font-weight: normal!important; font-size: 14px!important;'> ({{ request.user.username }})</b>
	{% else %}
	{{ foreign_user.get_full_name }}
	<b style='font-weight: normal!important; font-size: 14px!important;'> ({{ foreign_user.username }})</b>
	{% endif %}
	<button style="font-size: 12px" class="btn-default" onclick="goBacks()">Vrátit se zpět</button>
{% else %}
{{ foreign_user.get_full_name }}
{% endif %}

{% endblock page_title %}

{% block content %}

<script>
function goBacks() {
    window.history.back();
}
</script>

{% if request.user.is_authenticated and foreign_user.username == request.user.username %}
<div class="text_left">
	{% if profile_picture %}
	<p class="profile_picture"><img src="/static/{{ profile_picture }}" /></p>
	{% endif %}
	<p>Záliby: {{ hobbies }}</p>
	</div>
	<!-- <a href="{% url 'userprofile:edit_profile' %}">upravit profil</a> -->
{% elif request.user.is_authenticated and foreign_user.username != request.user.username %}
	<p>Záliby: {{ foreign_user.profile.hobbies }}</p>
{% else %}
<p>Nelze zobrazit další obsah. <a href="/accounts/login/">Přihlaste se</a> nebo se zaregistrujte <a href="/accounts/register/">zde</a></p>

{% endif %}

{% endblock %}