{% extends "includes/base.html" %}

{% block page_title %}
{% if request.user.is_authenticated %}
{{ request.user.get_full_name }}<b style='font-weight: normal!important; font-size: 14px!important;'> ({{ request.user.username }})</b>
{% else %}
Tato stránka není dostupná
{% endif %}
{% endblock page_title %}

{% block content %}
<button class="btn-default" onclick="goBacks()">Vrátit se zpět</button>

<script>
function goBacks() {
    window.history.back();
}
</script>

{% if user.is_authenticated %}
<div class="text_left">
{% if profile_picture %}
<p class="profile_picture"><img src="/static/{{ profile_picture }}" /></p>
{% endif %}
<p>Záliby: {{ hobbies }}</p>
</div>
<!-- <a href="{% url 'userprofile:edit_profile' %}">upravit profil</a> -->
{% else %}
<p>Nelze zobrazit tutu stránku.<a href="/accounts/login/">Přihlašte se</a> nebo se zaregistrujte <a href="/accounts/register/">zde</a></p>

{% endif %}

{% endblock %}