{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'hello/basestyle.css' %}" />
	<title>{% block title %}Django site | {{ greeting.title }} {{ question.question_text }}{% endblock %}</title>
</head>
<body>
	<div id="page">
		<div id="menu">
			{% block logo %}<a href="{% url 'welcome' %}"><img class="mainlogo" src="{% static 'hello/images/djangologo.jpg' %}"></a>{% endblock %}
			{% block menu %}
			<ul>
				<li>{% block active %}<a href="{% url 'welcome'%}">Welcome</a>{% endblock %}</li>
				<li><a href="{% url 'polls:indexq'%}">Polls</a></li>
				<li><a href="{% url 'greeting:all'%}">Greeting</a></li>
			</ul>
			{% endblock %}
		</div>
		<div id="sidebar">
			{% block sidebar %}
			<ul>
				<li><a href="/admin/">Admin</a></li>
			</ul>
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}This is content area.{% endblock %}
		</div>
	</div>
</body>
</html>