{% extends 'hello/base.html' %}
{% block menu %}
			<ul>
				<li><a href="{% url 'welcome'%}">Welcome</a></li>
				<li><a href="{% url 'polls:indexq'%}">Polls</a></li>
				<li class="active">{% block active %}<a href="{% url 'greeting:all'%}">Greeting</a>{% endblock %}</li>
			</ul>
{% endblock %}
{% block content %}
<!--<h3>Hi, {{ myname }}</h3>-->
<p>hi, {{ x }}</p>
{% if greeting.count < 0 %}

{% for greeting in greetings %}
<div>
	<h2><a style="text-decoration: none;"href="{% url 'greeting:all' %}{{ greeting.id }}">{{ greeting.title }}</a></h2>
	<a style="text-decoration: none; color: black!important" href="{% url 'greeting:all' %}{{ greeting.id }}">{{ greeting.body|truncatewords:"15" }}</a>
</div>
{% endfor %}

{% else %}

<p>No greetings are available.</p>

{% endif %}

{% endblock %}