{% extends "includes/base.html" %}

{% block title %}Brigade{% endblock %}

{% block page_title %}<i class="fa fa-cubes page_icon"></i>Brigades{% endblock page_title %}

{% block content %}

    {% if latest_brigade_list %}
	    {% for brigade in latest_brigade_list %}
	        <a class="title_list_object" href="{% url 'math:detailb' brigade.id %}">
			<div class="title_object">
				<h3>{{ brigade.brigade_title }}</h3>
			</div>
			</a>
			<hr class="hr_low">
	    {% endfor %}
	{% else %}
	    <p>No brigades are available.</p>
	{% endif %}

{% endblock content %}