{% extends "includes/base.html" %}

{% block title %}Brigade{% endblock %}

{% block menu %}
	<li><a href="{% url 'welcome' %}">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li class="active"><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}<i class="fa fa-cubes page_icon"></i>Brigade{% endblock page_title %}

{% block content %}

<p>Nemáte vytvořené dny pro brigádu. Klikněte <a href="{% url 'math:createb' %}">sem</a> pro vytvoření dne.</p>

{% endblock %}