{% extends "includes/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Brigade{% endblock %}

{% block page_title %}<i class="fa fa-cubes page_icon"></i>Přidat brigádu{% endblock page_title %}

{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6">
{% if request.user.is_authenticated %}
<form method="post" action="{% url 'math:create_brigade' %}">{% csrf_token %}
	<label for="brigada">Název Brigády</label>
	<input id="brigada" class="form-control" type="text" name="brigade_title" required>
	<label for="brigada">Vlastník</label>
	<select id="brigada" class="form-control" name="owners" required>
		<option id="owner">{{ request.user.username }}</option>
	</select>
	<label for="den">Za hodinu (Kč)</label>
	<input id="den" class="form-control" type="number" min="1" value="50" name="rate" required>
	<label for="pub_date">Datum publikování</label>
	<input id="pub_date" class="form-control" type="date" value="{{ now }}" name="now" data-date-inline-picker="true" required>
	<hr>
	<input class="btn btn-primary" type="submit" name="submit" value="Přidat brigádu" />
</form>
{% else %}
    <p>Chcete si vytvořit brigádu? <a style="cursor: pointer" id="myBtna">Přihlaste se</a></p>
{% endif %}
</div>
<script type="text/javascript">
    document.getElementById('reset').onclick= function() {
        var field= document.getElementById('pub_date');
        field.value= field.defaultValue;
    };
</script>
<div class="modal fade" id="myModala" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form action="/accounts/auth/" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input data-toggle="tooltip" data-placement="right" title="enter your username" type="text" name="username" value="" id="username" placeholder="your username">
              </div>
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input data-toggle="tooltip" data-placement="right" title="enter your password" type="password" name="password" value="" placeholder="your password" id="password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
              </div>
                <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <p>Not a member? <a href="/accounts/register/">Sign Up</a></p>
          </div>
        </div>
        
      </div>
</div>

<script>
  $(document).ready(function(){
      $("#myBtna").click(function(){
          $("#myModala").modal();
      });
  });
</script>
{% endblock %}