{% extends "includes/base.html" %}

{% block title %}Calc{% endblock %}

{% block page_title %}<i class="fa fa fa-calculator page_icon"></i>Kalkulačka{% endblock page_title %}

{% block content %}

<div class="col-md-1"></div>

<div style="text-align: left" class="col-md-10">
<div class="row">
<a href="{% url 'math:index_circle' %}"><div class="col-md-5"><h2>Kruh/kružnice</h2></div></a>
<div class="col-md-2"></div>
<a href="#"><div class="col-md-5"><h2>Čtverec</h2></div></a>
</div>
<div class="row">
<a href="#"><div class="col-md-5"><h2>Obdélník</h2></div></a>
<div class="col-md-2"></div>
<a href="#"><div class="col-md-5"><h2>Lichoběžník</h2></div></a>
</div>

</div>

<div class="col-md-1"></div>

{% endblock %}