{% extends "includes/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Brigade{% endblock %}

{% block page_title %}<i class="fa fa-cubes page_icon"></i>Přidat den{% endblock page_title %}

{% block content %}

{% if request.user.is_authenticated %}
{% if brigade %}
<div class="col-md-3">
	<form method="get" action="{% url 'math:choose_brigade' %}">{% csrf_token %}
		<label for="sCountry">Vyber brigádu:</label>
		<select name='myfield' id="sCountry" onchange='this.form.submit()' class="form-control">
			{% for i in brigades %}
	  		<option value="{{ i }}" selected>{{ i }}</option>
	  		{% endfor %}
		</select>
		<noscript><input type="submit" value="Submit"></noscript>
	</form>
<script type="text/javascript">
var myselect = $("#sCountry");
myselect[0].selectedIndex = 1000000;
myselect.selectmenu('refresh');
</script>
<hr>
<button id="reset">Nastavit datum na aktuální čas</button>
</div>
<div class="col-md-6">
<form method="post" action="{% url 'math:create_day' %}">{% csrf_token %}
	<label for="brigada">Brigáda</label>
	<input id="brigada" class="form-control" type="text" value="{{ brigade }}" name="brigade_title" readonly>
	<label for="den">Pořadí dne</label>
	<input id="den" class="form-control" type="text" value="Den: {{ last_day }}" name="number_of_day" readonly>
	<label for="hodiny">Hodin denně</label>
	<input id="hodiny" class="form-control" type="number" max="24" min="1" step="any" name="hours_per_day" required>
	<label for="pub_date">Datum publikování</label>
	<input id="pub_date" class="form-control" type="date" value="{{ now }}" name="now" data-date-inline-picker="true" required>
	<hr>
	<input class="btn btn-primary" type="submit" name="submit" value="Přidat den" />
</form>
</div>
<script type="text/javascript">
    document.getElementById('reset').onclick= function() {
        var field= document.getElementById('pub_date');
        field.value= field.defaultValue;
    };
</script>
{% else %}

<div class="col-md-3">
	<form method="get" action="{% url 'math:choose_brigade' %}">{% csrf_token %}
	<div class="form-group has-success has-feedback">
		<label for="sCountry">Vyber brigádu:</label>
		<select name='myfield' id="sCountry" onchange='this.form.submit()' class="form-control">
			{% for i in brigades %}			
	  		<option value="{{ i }}" selected>{{ i }}</option>
	  		{% endfor %}
		</select>
		<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
		</div>
		<noscript><input type="submit" value="Submit"></noscript>
	</form>
<script type="text/javascript">
var myselect = $("#sCountry");
myselect[0].selectedIndex = 1000000;
myselect.selectmenu('refresh');
</script>
</div>
<div class="col-md-6">
	<label for="den">Pořadí dne</label>
	<input placeholder="disabled input" id="den" class="form-control" type="text" name="number_of_day" disabled>
	<label for="hodiny">Hodin denně</label>
	<input placeholder="disabled input" id="hodiny" class="form-control" type="number" max="24" min="1" step="any" name="hours_per_day" disabled>
	<label for="pub_date">Datum publikování</label>
	<input placeholder="disabled input" id="pub_date" class="form-control" type="date" disabled>
	<hr>
	<input class="btn btn-primary" type="submit" name="submit" value="Přidat den" />
</div>

{% endif %}

<div class="col-md-3">
<p style="font-size: 13px"><b>Poslední dny:</b> <br>{{ last_days }}</p>
</div>
{% else %}
    <p>Chcete si vytvořit brigádu? <a style="cursor: pointer" id="myBtna">Přihlaste se</a></p>
{% endif %}

<div class="modal fade" id="myModala" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form action="/accounts/auth/" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input data-toggle="tooltip" data-placement="right" title="enter your username" type="text" name="username" value="" id="username" placeholder="your username">
              </div>
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input data-toggle="tooltip" data-placement="right" title="enter your password" type="password" name="password" value="" placeholder="your password" id="password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
              </div>
                <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <p>Not a member? <a href="/accounts/register/">Sign Up</a></p>
          </div>
        </div>
        
      </div>
</div>

<script>
  $(document).ready(function(){
      $("#myBtna").click(function(){
          $("#myModala").modal();
      });
  });
</script>
{% endblock %}