{% extends "includes/base.html" %}

{% block title %}Math{% endblock %}

{% block menu %}
	<li><a href="{% url 'welcome'%}">Welcome</a></li>
	<li><a href="{% url 'polls:indexq'%}">Polls</a></li>
	<li><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li class="active"><a href="{% url 'math:brigade_index' %}">Brigades</a></li>
	<li><a href="{% url 'contact'%}">Contact</a></li>
{% endblock menu %}

{% block page_title %}<i class="fa fa-cubes page_icon"></i>Mathematic{% endblock page_title %}

{% block content %}

<div class="col-md-3"></div>

<div class="col-md-6">
	<a href="{% url 'math:brigade_index' %}"><h1>Brigades</h1></a>
	<a href="{% url 'math:calc_index' %}"><h1>Calc</h1></a>
</div>

<div class="col-md-3"></div>

{% endblock %}