{% extends "includes/base.html" %}
{% block menu %}
			<ul>
				<li><a href="{% url 'welcome'%}">Welcome</a></li>
				<li><a href="{% url 'polls:indexq'%}">Polls</a></li>
				<li class="active"><a href="{% url 'greeting:indexg'%}">Greetings</a></li>
				<li><a href="{% url 'contact'%}">Contact</a></li>
			</ul>
{% endblock %}

{% block content %}
<a class="routing" href="{% url 'greeting:indexg' %}">Greetings >> </a><b><a class="routing" href="#">{{ greeting.title }}</a></b>
<div class="col-md-6">
<h2>{{ greeting.title }}</h2> 

{% if user.is_authenticated %}

{% if request.user.is_superuser %}
<a style="font-size: 15px; text-decoration: none;" href="/admin/polls/greeting/{{ greeting.id }}/">[edit]</a>
{% endif %}
<p>{{ greeting.body }}</p>
{% if greeting.thumbnail %}
<p><img style="border: 1px solid black" src="/static/{{greeting.thumbnail}}" width="350px"/></p>
{% endif %}
<p>likes: {{ greeting.likes }}</p>
<p><a href="{% url 'greeting:like' greeting.id %}">Like</a></p>

{% else %}

<p>{{ greeting.body }}</p>
{% if greeting.thumbnail %}
<p><img style="border: 1px solid black" src="/static/{{greeting.thumbnail}}" width="350px"/></p>
{% endif %}
<p>likes: {{ greeting.likes }}</p>

{% endif %}

</div>

{% endblock %}