{% extends "includes/base.html" %}

{% block page_title %}<i class="fa fa-bullhorn page_icon"></i>Polls{% endblock page_title %}

{% block content %}

{% if latest_question_list %}
    {% for question in latest_question_list %}
        <a class="title_list_object" href="{% url 'polls:detailq' question.id %}">
		<div class="title_object">
			<h3>{{ question.question_text }}</h3>
		</div>
		</a>
		<hr class="hr_low">
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}