{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/basestyle.css' %}" /> -->
	

	<!-- mobile view -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- favicon.ico -->
	<link href="{% static 'uploaded_files/favicon.ico' %}" rel="icon"/>

	<link href="{% static 'css/tutorsty.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/flexcrollstyles.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
	
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- javascript basic -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/flexcroll.js' %}" type='text/javascript'></script>
    <script src="{% static 'js/grayscale.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/ajax.js' %}"></script>
	<script language="javascript" type="text/javascript"></script>
	<script type="text/javascript">
		function textClear(element)
		{
		  if ( element.value != '' )
		  {
		      element.value = '';
		  }
		}
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 400);
		        return false;
		      }
		    }
		  });
		});
	</script>

	{% block script_fixed_scroll %}{% endblock script_fixed_scroll %}

	<script type="text/javascript">
	var timeOut;
	function scrollToTop() {
	  if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
	    window.scrollBy(0,-30);
	    timeOut=setTimeout('scrollToTop()',10);
	  }
	  else clearTimeout(timeOut);
	}
	</script>
	<!-- ############################################### -->
	<script>
	$(window).scroll(function() {    
	    var scroll = $(window).scrollTop();

	    if (scroll >= 50) {
	        $(".topbuttonnone").addClass("topbutton");
	    } else {
	        $(".topbuttonnone").removeClass("topbutton");
	    }
	});
	</script>
	<title>{% block title %}Django site {{ greeting.title }} {{ question.question_text }}{% endblock %}</title>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            
            <div class="navbar-header">
            	{% block logo %}

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'welcome' %}">
                    <i class="fa fa-life-ring"></i>  <span class="light">Django</span> SITE
                </a>

                {% endblock logo %}
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse" style="padding: 0 35px">

                <ul class="nav navbar-nav">
                {% block menu %}

                    <li><a class="page-scroll" href="{% url 'welcome' %}#page-top">Welcome</a></li>
					<li><a class="page-scroll" href="#polls">Polls</a></li>
					<li><a class="page-scroll" href="#blog">Blog</a></li>
					<li><a class="page-scroll" href="#brigades">Brigades</a></li>
					<li><a class="page-scroll" href="#contact">Contact</a></li>

				{% endblock menu %}
                </ul>				
            </div>
            <div class="authentication">

            	{% block authentication %}

				{% if not user.is_authenticated %}
				<a href="/accounts/login/">login</a> | <a href="/accounts/register/">register</a>
				{% endif %}
				{% if user.is_authenticated %}
				<a href="{% url 'userprofile:profile' %}" title="{{ full_name }}">{{ username }}</a> <span class="">|</span> <a href="/accounts/logout/">logout</a></div>
				{% endif %}

				{% endblock authentication %}

			</div>
	    		
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block welcome_content %}{% endblock welcome_content %}

    {% block to_top %}
    <div><a href="#page-top" class="topbuttonnone"><i style="color: #0AC53A; font-size: 25px;" class="fa fa-arrow-up"></i></a></div>
    {% endblock to_top %}

    {% block footer %}
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Django site {{ now.year }}</p>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>