{% extends "includes/base.html" %}
{% load staticfiles %}

{% block title %}Blog | {{ blog.title }}{% endblock %}

{% block page_title %}<i class="fa fa-book page_icon"></i>{{ blog.title }}{% endblock page_title %}

{% block content %}

<style type="text/css">
.thumbnail {
    padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}

</style>

<script type="text/javascript">
window.onbeforeunload = function () {
var scrollPos;
if (typeof window.pageYOffset != 'undefined') {
scrollPos = window.pageYOffset;
}
else if (typeof document.compatMode != 'undefined' &&
document.compatMode != 'BackCompat') {
scrollPos = document.documentElement.scrollTop;
}
else if (typeof document.body != 'undefined') {
scrollPos = document.body.scrollTop;
}
document.cookie = "scrollTop=" + scrollPos; //存储滚动条位置到cookies中
}

window.onload = function () {
if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/); //cookies中不为空，则读取滚动条位置
document.documentElement.scrollTop = parseInt(arr[1]);
document.body.scrollTop = parseInt(arr[1]);
}
}
</script>

<div class="tabs_nonfixed">
  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#blog"><i style="padding-right: 10px;" class="fa fa-calendar-o"></i>Obsah</a></li>
      <li><a data-toggle="tab" href="#info"><i style="padding-right: 10px;" class="fa fa-info-circle"></i>Informace</a></li>
      <li><a data-toggle="tab" href="#comments"><i style="padding-right: 10px;" class="fa fa-comments"></i>Komentáře</a></li>
      <!-- <li><a href="{% url 'blog:detailb' blog.id %}#add-comment"><i style="padding-right: 10px;" class="fa fa-comment"></i>| Přidat komentář</a></li> -->
  </ul>
</div>

<div style="padding-top: 20px;" class="tab-content">
    <div id="blog" class="tab-pane fade in active">
      <p>{{ blog.body }}</p>
      <div class="text_left">
      {% if blog.thumbnail %}
      <p><img style="border: 1px solid black" src="/static/{{ blog.thumbnail }}" width="350px"/></p>
      {% endif %}
      {% if request.user.is_authenticated %}
      <div id="likes">
      <p>Likes: {{ likes.count }} <b style="font-weight: normal; font-size: 14px"> (
      {% if request.user.username in likes_list %}
        <a href="{% url 'blog:unlike' blog.id %}">Unlike <i class="fa fa-thumbs-o-down"></i></a>
      {% else %}
        <a href="{% url 'blog:like' blog.id %}">Like <i class="fa fa-thumbs-o-up"></i></a>
      {% endif %}
      )</b></p>
      </div>
      {% else %}
      <p>likes: {{ likes.count }} <span style="font-size: 10px;"> (Jestli chcete dát "like" tomuto blogu, <a style="cursor: pointer" id="myBtna">přihlaste se</a>)</span></p>
      {% endif %}
      </div>
      {% if comments.count == 0 %}
      <hr>
      <p>K tomuto blogu ještě nebyl přidán komentář.</p>
      {% else %}
      <hr>
      {% endif %}
      {% for comment in comments %}
      <div class="row">
      <div class="col-sm-1 col-md-1">
      <div class="thumbnail">
      <a style="color: #333333" href="{% url 'userprofile:profile' comment.owner.id %}">
      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
      </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-5 col-md-8">
      <div class="panel panel-default">
      <div style="text-align: left" class="panel-heading">
      <strong><a style="color: #333333" href="{% url 'userprofile:profile' comment.owner.id %}">{{ comment.owner.username }}</a></strong><span class="text-muted"> ... ({{ comment.pub_date }})</span>
      {% if comment.owner.username == request.user.username %}
      <form method="post" action="{% url 'blog:delete_comment' %}">{% csrf_token %}
      <input style="visibility: hidden" type="number" name="comment_id" value="{{ comment.id }}" readonly>
      <input style="visibility: hidden" type="number" name="blog_id" value="{{ blog.id }}" readonly>
      <input type="submit" value="smazat">
      </form>
      {% endif %}
      </div>
      <div style="color: black; text-align: left" class="panel-body">
      {{ comment.comment }}
      </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
      </div>
      {% endfor %}
      {% if request.user.is_authenticated %}
      <hr>
      <div class="row">
      <div class="col-sm-1 col-md-1">
      <div class="thumbnail">
      <a style="color: #333333" href="">
      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
      </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-5 col-md-8">
      <div class="panel panel-default">
      <div style="text-align: left" class="panel-heading">
      <strong>Vy ({{ request.user.username }}) - Napište komentář</strong><span class="text-muted"></span>
      </div>
      <div id="add-comment" style="color: black; text-align: left" class="panel-body">
      <form action="{% url 'blog:add_comment' %}" method="post">{% csrf_token %}
        <textarea placeholder="Napište komentář" name="comment" rows="3" cols="45" required></textarea>
        <input class="visibility: hidden" type="text" name="blog_id" value="{{ blog.id }}" readonly>
      </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
        <button type="submit" class="btn">Přidat komentář</button>
      </form>
      </div><!-- /col-sm-5 -->
      </div>
      {% else %}
      <hr>
      <p>Chcete-li přidat komentář, <a style="cursor: pointer" id="myBtnab">přihlaste se</a></p>
      {% endif %}
    </div>
    <div id="info" class="tab-pane fade">
      <p>Zveřejněno: {{ blog.pub_date }}</p>
      <p>Likes: {{ likes.count }}</p>
    </div>
    <div id="comments" class="tab-pane fade">
      {% for comment in comments %}
      <div class="row">
      <div class="col-sm-1 col-md-1">
      <div class="thumbnail">
      <a style="color: #333333" href="{% url 'userprofile:profile' comment.owner.id %}">
      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
      </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-5 col-md-8">
      <div class="panel panel-default">
      <div style="text-align: left" class="panel-heading">
      <strong><a style="color: #333333" href="{% url 'userprofile:profile' comment.owner.id %}">{{ comment.owner.username }}</a></strong><span class="text-muted"> ... ({{ comment.pub_date }})</span>
      </div>
      <div style="color: black; text-align: left" class="panel-body">
      {{ comment.comment }}
      </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
      </div>
      {% endfor %}
    </div>
</div>

<div class="modal fade" id="myModala" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form action="/accounts/auth/" method="post">{% csrf_token %}
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input data-toggle="tooltip" data-placement="right" title="enter your username" type="text" name="username" value="" id="username" placeholder="your username">
              </div>
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input data-toggle="tooltip" data-placement="right" title="enter your password" type="password" name="password" value="" placeholder="your password" id="password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
              </div>
                <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <p>Not a member? <a href="/accounts/register/">Sign Up</a></p>
          </div>
        </div>
        
      </div>
</div>

<script>
  $(document).ready(function(){
      $("#myBtna").click(function(){
          $("#myModala").modal();
      });
  });
</script>
<script>
  $(document).ready(function(){
      $("#myBtnab").click(function(){
          $("#myModala").modal();
      });
  });
</script>

{% endblock content %}