{% extends "includes/base.html" %}
{% load staticfiles %}

{% block title %}Blog{% endblock %}

{% block menu %}
	<li><a href="{% url 'welcome' %}">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li class="active"><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}<i class="fa fa-book page_icon"></i>Blog{% endblock page_title %}
{% block content %}

{% if blogs.count > 0 %}

{% for blog in blogs %}
	<div class="row">
        <div class="col-md-7">
        	<a href="{% url 'blog:detailb' blog.id %}">
                <img class="img-responsive" src="{% cycle '/static/img/blog2.jpg' '/static/img/blog3.jpg' '/static/img/blog4.jpg' %}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{ blog.title }}</h3>
            <h5>likes: {{blog.likes}}</h5>
            <p>{{ blog.body|truncatewords:"15" }}</p>
            <a class="btn btn-primary" href="{% url 'blog:detailb' blog.id %}">View blog <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
	<hr class="hr_low">
{% endfor %}

{% else %}

<p>No blogs are available.</p>

{% endif %}

{% endblock %}
