{% extends "includes/base.html" %}

{% block title %}Blog | {{ blog.title }}{% endblock %}

{% block script_fixed_scroll %}
	<script type="text/javascript">
	window.onbeforeunload = function () {
	var scrollPos;
	if (typeof window.pageYOffset != 'undefined') {
	scrollPos = window.pageYOffset;
	}
	else if (typeof document.compatMode != 'undefined' &&
	document.compatMode != 'BackCompat') {
	scrollPos = document.documentElement.scrollTop;
	}
	else if (typeof document.body != 'undefined') {
	scrollPos = document.body.scrollTop;
	}
	document.cookie = "scrollTop=" + scrollPos; //存储滚动条位置到cookies中
	}

	window.onload = function () {
	if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
	var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/); //cookies中不为空，则读取滚动条位置
	document.documentElement.scrollTop = parseInt(arr[1]);
	document.body.scrollTop = parseInt(arr[1]);
	}
	}
	</script>
{% endblock script_fixed_scroll %}

{% block menu %}
	<li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li class="active"><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}{{ blog.title }}{% endblock page_title %}

{% block content %}

{% if user.is_authenticated %}

{% if request.user.is_superuser %}
<a style="font-size: 15px; text-decoration: none;" href="/admin/blog/blog/{{ blog.id }}/">[edit]</a>
{% endif %}
<p>{{ blog.body }}</p>
<div>
{% if blog.thumbnail %}
<p><img style="border: 1px solid black" src="/static/{{ blog.thumbnail }}" width="350px"/></p>
{% endif %}
<p>likes: {{ blog.likes }}</p>
<p><a href="{% url 'blog:like' blog.id %}">Like</a></p>
</div>

{% else %}

<p>{{ blog.body }}</p>
<div style="text-align:left">
{% if blog.thumbnail %}
<p><img style="border: 1px solid black" src="/static/{{ blog.thumbnail }}" width="350px"/></p>
{% endif %}
<p>likes: {{ blog.likes }} <span style="font-size: 10px;"> (You must register to like this blog.)</span></p>

</div>

{% endif %}

{% endblock %}
