{% extends "includes/base.html" %}

{% block title %}Blog{% endblock %}

{% block menu %}
	<li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li class="active"><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}Blog{% endblock page_title %}
{% block content %}

{% if blogs.count > 0 %}

{% for blog in blogs %}
	<a class="title_list_object" href="{% url 'blog:detailb' blog.id %}">
	<div class="title_object">
    	<h3>{{ blog.title }} <span class="likes">(likes: {{blog.likes}})</span></h3>
    	{{ blog.body|truncatewords:"15" }}
    </div>
	</a>
	<hr class="hr_low">
{% endfor %}

{% else %}

<p>No blogs are available.</p>

{% endif %}

{% endblock %}
