{% extends "includes/base.html" %}

{% block title %}Brigade{% endblock %}

{% block menu %}
	<li><a href="{% url 'welcome' %}">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li class="active"><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}<i class="fa fa-cubes page_icon"></i>Přidat den{% endblock page_title %}

{% block content %}

	<form action="{% url 'math:createb' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
	<ul class="create_greeting">
	{{ form.as_p }}
	</ul>

	<input class="btn btn-default" type="submit" name="submit" value="Přidat den" />
	</form>
	{% for item in brigade %}
	<p style="text-align: right; font-size: 14px;">Poslední den: <b>{{ item.number_of_day }}</b></p>
	{% endfor %}

{% endblock %}