{% extends "includes/base.html" %}

{% block title %}Brigade{% endblock %}

{% block menu %}
	<li><a href="{% url 'welcome' %}">Welcome</a></li>
	<li><a href="{% url 'welcome' %}#polls">Polls</a></li>
	<li><a href="{% url 'blog:indexb'%}">Blog</a></li>
	<li class="active"><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
	<li><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}<i class="fa fa-cubes page_icon"></i>{{title_brigade}}{% endblock page_title %}


{% block content %}
<table border="2px" cellpadding="5px" cellspacing="0" bordercolor="black" style="width: 450px; margin: 10px auto">
	<tr>
		<th width="33%">Den</th>
		<th width="33%">Datum</th>
		<th width="33%">Počet hodin</th>
	</tr>
	{% for item in brigade %}
	<tr>
		<td width="33%">{{ item.number_of_day }}</td>
		<td width="33%">{{ item.pub_date.day }}.{{ item.pub_date.month }}. {{ item.pub_date.year }}</td>
		<td width="33%">{{ item.hours_per_day }}</td>
	</tr>
	{% endfor %}
	<tr>
		<th width="33%"></th><th width="33%"></th><th width="33%">celkem: {{ sum_hours }}</th>
	</tr>
</table>

&nbsp;
<hr class="hr_low">
&nbsp;

<table border="2px" cellpadding="5px" cellspacing="0" bordercolor="black" style="width: 450px; margin: 0 auto">
	<caption>Celkový součet</caption>
	<tr>
		<th width="50%">Počet hodin:</th>
		<td width="50%">{{ sum_hours }}</td>
	</tr>
	<tr>
		<td width="50%">Průměrný počet hodin denně:</td>
		<td width="50%">{{ average_hours }}</td>
	</tr>
	<tr>
		<th width="50%">Zisk:</th>
		<td width="50%">{{ sum_price }}</td>
	</tr>
	<tr>
		<td width="50%">Průměrný zisk denně:</td>
		<td width="50%">{{ average_price }}</td>
	</tr>
</table>

<a href="{% url 'math:createb' %}"><button style="margin-top: 20px;">Přidat další den</button></a>

<div class="modal fade" id="mymodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          	<form action="{% url 'math:createb' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
				<ul class="create_greeting">
				{{ form.as_p }}
				</ul>

				<input type="submit" name="submit" value="Přidat den" />
			</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}