{% extends "includes/base.html" %}

{% block title %}Contact us{% endblock %}

{% block menu %}
    <li><a href="{% url 'welcome' %}#page-top">Welcome</a></li>
    <li><a href="{% url 'welcome' %}#polls">Polls</a></li>
    <li><a href="{% url 'blog:indexb'%}">Blog</a></li>
    <li><a href="{% url 'welcome' %}#brigades">Brigades</a></li>
    <li class="active"><a href="{% url 'welcome' %}#contact">Contact</a></li>
{% endblock menu %}

{% block page_title %}

{% endblock page_title %}

{% block content %}

<div class="col-md-6"> 
<h1>Thank you</h1>

<p>Your email has been sent successfully.</p>
</div>

{% endblock %}